.App-header {
    background-color: #fff;
    display: flex; /* Adiciona display flex para colocar logo e opções em linha */
    align-items: center; /* Para centralizar verticalmente os itens */
    justify-content: center;
    padding: 0 20px; /* Adiciona margens aos lados */
  }